@model FinalProject.Models.DynamicTemplate

@{
    ViewBag.Title = "Add New Template";
}

<h2>Add New Template</h2>

@using (Html.BeginForm("AddTemplate", "DynamicTemplate", FormMethod.Post))
{
    <table>
        <tr>
            <td>File Template Name:</td>
            <td>@Html.TextBoxFor(model => model.FileTemplateName)</td>
        </tr>
        <tr>
            <td>Domain:</td>
            <td>@Html.TextBoxFor(model => model.Domain)</td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>@Html.TextBoxFor(model => model.Category)</td>
        </tr>
        <tr>
            <td>School Year:</td>
            <td>@Html.TextBoxFor(model => model.SchoolYear)</td>
        </tr>
        <tr>
            <td>Roles:</td>
            <td>@Html.TextBoxFor(model => model.Roles)</td>
        </tr>
        <tr>
            <td>Status ID:</td>
            <td>@Html.TextBoxFor(model => model.StatusId)</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add " />
            </td>
        </tr>
    </table>
}